@import 'style.css';

body {
    div.cv-wrapper {
        display: grid;
        grid-template-columns: 20em 1fr;
        gap: 1em;
        margin: 0 auto;
    }

    section {
        display: contents;
        margin-bottom: 20em;
    }

    .heading-wrapper {
        grid-column: 1;
        margin: 0;
    }

    h2, h3, h4 {
        margin: 0;
    }

    .alignHere {
        grid-column: span 2;
    }

    .alignLeft {
        grid-column: 1;
    }

    p, ul {
        grid-column: 2;
        margin: 0;
    }
}
