:root {
  --color-basis: #E5E6C7;

  --color-h2: #094C0E;
  --color-h3: #8E372A;

  --color-accentPrimary: #64662C;

  --color-accent1Dark: #5D2C66;
  --color-accent2Dark: #372C66;

  --color-accent1Light: #CDC8E6;
  --color-accent2Light: #E1C8E6;
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  accent-color: var(--color-accent2Light);
  font: 100%/1.5 system-ui;
  max-width: 80VW;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10VW;
  padding-right: 10VW;
  background-color: var(--color-basis);

  h1 {
    color: var(--color-accent2Dark);
  }

  img {
    max-width: 80VW;
    width: auto;
  }

  h2 {
    color: var(--color-accent2Dark);
  }

  h3 {
    color: var(--color-h2);
  }

  h4 {
    color: var(--color-h3);
  }

  a {
    color: var(--color-accent1Dark);
  }

  nav {
    display: flex;
    margin-bottom: 5VH;

    a {
      flex: 1;
      text-decoration: none;
      color: var(--color-accent1Dark);
      font-weight: bold;
      text-align: center;
      padding: 0.5em;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--color-accentPrimary);

      &:hover {
        border-bottom-color: var(--color-accent2Dark);
        border-bottom-width: 0.4em;
        background-color: var(--color-accent2Light);
      }

      &.current {
      border-bottom-width: 0.4em;
      border-bottom-color: var(--color-accentPrimary);
      }

      &.current:hover {
        background-color: var(--color-accent2Light);
      }
    }
  }

  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;

    label {
      display: grid;
      grid-template-columns: subgrid;
    }

    button {
      display: grid;
      grid-column: 1 / -1;
      text-align: center;
    }
  }

  .project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1.5em;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  textarea {
    font: inherit;
  }
}
